<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    *{
      margin: auto;
      padding: auto;
      text-align: center;
    }
    .loginForm{
      border: 3px solid black;
      border-radius: 5px;
      margin-top: 10%;
      margin-left: 30%;
      margin-right: 30%;
      padding: 0px;
      line-height: 50px;
    }
    .loginForm input{
      height: 20px;
      font-size: 15px;
    }

  </style>
</head>
<body>
  <div class="loginForm">
  <form>
    아이디 : <input type="text" name="userId"><br>
    비밀번호 : <input type="password" name="userPw"><br>
    <button>로그인</button>
    <button>회원가입</button>
  </form>
  </div>
</body>
</html>